body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #28282a;
    color: white;
    padding: 3vh 3vw;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #28282a;
    width: 100%;
    padding: 2vh;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

.header-left {
    font-size: 2em;
}

.header-right {
    display: flex;
    justify-content: space-evenly;
}

.header-link {
    display: inline-block;
    width: 5vw;
    padding: 1vh 0.5vw;
    margin: 0 0.25vw;
    background-color: #28282a;
    color: white;
    transition: background-color, color, .5s;
    text-align: center;
}

.header-link:hover {
    background-color: white;
    color: #28282a;
    border-radius: .25em;
}

#activePage {
    background-color: white;
    color: #28282a;
    border-radius: .25em;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link {
    padding: 0.5vh 1vw;
}