body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #28282a;
    color: white;
    padding: 3vh 3vw;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #28282a;
    width: 100%;
    padding: 2vh;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: green;
}

.header-left {
    font-size: 2em;
}

.header-right {
    display: flex;
}

.header-link {
    padding: 0 8px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link {
    padding: 0 16px;
}